.input-sheet {
    .radar-select {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;

        ul {
            text-align: left;
        }

        a {
            border-bottom: none;
        }
    }
}

